<!DOCTYPE html>
<html lang="es">

<head> <!-- ACA HABRO EL HEAD - CONFIG. -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <title>Bugga - Home</title>
        
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
       
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">
</head> <!-- ACA CIERRO EL HEAD - CONFIG. -->
  
<body class="bodyHome"> <!-- ACA ABRO EL BODY - CONTENIDO -->
    
    <header class="header-main"> <!-- ACA ABRO EL HEADER - ENCABEZADO -->
        
        <div class="main-header">
            <div class="main-header-logo-search">
               <div class="logoHome"> <!-- LOGO -->
                <img src="./img/Titulo_Home.png" />
                </div>

                <div class="imgLogo">
                    <img src="img/corazonx48.png">
                </div>
                        
                <div class="search"> <!-- BUSCADOR -->
                    <form action="#search">
                    <input type="text" placeholder="Autor, Título..." >
                    
                        <button type="submit"><i class="fas fa-search"></i>
                        </button>
                    
                    </form>
                </div>
            </div>  <!-- BUSCADOR -->

            <div> <!-- MENU DESPLEGABLE -->
                <nav class="menudesplegable">
                    <ul id="menuDesplegable">
                      <li><a href="">Autor</a></li>
                      <li><a href="">País</a></li>
                      <li><a href="">Categoría</a></li>
                      <li><a href="">Editorial</a></li>
                      <li><a href="">Temas</a></li>
                      <li><a href="">BuggaArt</a></li>
                    </ul>
                </nav>
            </div> <!-- MENU DESPLEGABLE -->
                
    </header> <!-- ACA CIERRO EL HEADER - ENCABEZADO -->
  
<main> <!-- ACA ABRO EL MAIN - CONTENIDO CENTRAL -->
   
   <section> <!-- abro primera sección novedades -->
     <h1 class="subtituloHome">Novedades de la Semana</h1>
        <article class="productosHome1">
           <img src="./img/tx5kwXZTpO.png" />
            <div class="infoArt"></div>
             <div class="descripcion">
                <p>Ray Douglas Bradbury</p>
                <br>
                <p>
                 Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                 Eos consequatur doloribus iste accusamus voluptas illo natus
                </p>
                <br>
                <p>$6.770</p>
                <p>40% OFF</p>
                <br>
                <span class="material-icons">favorite_border</span>
                <span class="material-icons">add_shopping_cart</span>
                    
            </div>
        </article>
       
    <article class="productosHome1">
          <img src="./img/tx5kwXZTpO.png" />
           <div class="infoArt"></div>
            <div class="descripcion">
               <p>Ray Douglas Bradbury</p>
               <br>
               <p>
                 Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                 Eos consequatur doloribus iste accusamus voluptas illo natus
               </p>
               <br>
               <p>$6.770</p>
               <p>40% OFF</p>
               <br>
               <span class="material-icons">favorite_border</span>
               <span class="material-icons">add_shopping_cart</span>
           </div>
    </article>
       
        <article class="productosHome1">
          <img src="./img/tx5kwXZTpO.png" />
            <div class="infoArt"></div>
              <div class="descripcion">
                <p>Ray Douglas Bradbury</p>
                <br>
                <p>
                   Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                   Eos consequatur doloribus iste accusamus voluptas illo natus
                </p>
                <br>
                <p>$6.770</p>
                <p>40% OFF</p>
                <br>
                <span class="material-icons">favorite_border</span>
                <span class="material-icons">add_shopping_cart</span>
          </div>
          </article>
       
          <article class="productosHome1">
            <img src="./img/tx5kwXZTpO.png" />
            <div class="infoArt">  
              </div>
              <div class="descripcion">
                <p>Ray Douglas Bradbury</p>
                <br>
             <p>
               Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
               Eos consequatur doloribus iste accusamus voluptas illo natus
            </p>
            <br>
            <p>$6.770</p>
            <p>40% OFF</p>
            <br>
            <span class="material-icons">favorite_border</span>
            <span class="material-icons">add_shopping_cart</span>
          </div>
          </article>

      
    </section> <!-- cierro primera sección novedades -->


<section class="Productos2"> <!-- abro segunda sección más leídos -->
    <h1 class="subtituloHome">¡Los más elegidos en Bugga!</h1>
      
    <article class="productosHome2">
        <img src="./img/zhQFmEpom2.png" />
        <div class="infoArt"></div>
      </article>
      
      <article class="productosHome2">
        <img src="./img/zhQFmEpom2.png"/>
        <div class="infoArt"></div>
      </article>
      
      <article class="productosHome2">
        <img src="./img/zhQFmEpom2.png"/>
        <div class="infoArt"></div>
      </article>

      <article class="productosHome2">
        <img src="./img/zhQFmEpom2.png"/>
        <div class="infoArt"></div>
      </article>

</section>  <!-- cierro segunda sección más leídos -->

<section> <!-- abro boton más leídos -->
<div class="catalogo">
    <button><a class="catalogo" href="#Catalogo">Ver todos los productos</a></button>        
  </div>
</section> <!-- cierro boton más leídos -->

</main> <!-- ACA CIERRO EL MAIN - CONTENIDO CENTRAL -->

<footer> <!-- ACA ABRO EL FOOTER - PIE DE PÁGINA -->
    <section class="footerHome">
      
      <div>
         
            <div class="footer-sectionA">
            <p>Todos los medios de pago</p>
     </div>   

    <div class="footer-sectionB">
        <p>consulta las promociones vigentes </p>
    </div>
   
    <div class="footer-sectionC">
      <p></p>
       <span class="material-icons">credit_card</span>
        <span class="material-icons">credit_card</span>
        <span class="material-icons">credit_card</span>
    </div>

  </section>  
  
</footer> <!-- ACA CIERRO EL FOOTER - PIE DE PÁGINA -->

</body> <!-- ACA CIERRO EL BODY - CONTENIDO -->

</html>