
<!DOCTYPE html>
<html lang="es">
<head> <!-- ACA HABRO EL HEAD - CONFIG. -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bugga - Home</title>
        <link rel="stylesheet" href="/css/normalize.css"> 
        <link rel="stylesheet" href="/css/home.css">  
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons"rel="stylesheet">
        <script src="https://kit.fontawesome.com/edff1df313.js" crossorigin="anonymous"></script>
</head> <!-- ACA CIERRO EL HEAD - CONFIG. -->

<body> <!-- ACA ABRO EL BODY -->
      
<header class="headerHome"> <!-- ACA ABRO EL HEADER - ENCABEZADO -->
    
    <section>  
       <div class="logoHome">
          <h3>B U G G A<span>logo</span></h3>
          <img src="#" alt="logo">
       </div>
    </section>   

    <section>
       <nav class="navegaciónHome">
           <ul class ="menuHome">
             <li><a href="">Ingresá</a></li>
             <li><a href="">Registrate</a></li>
             <li><a href="">Carrito</a></li>
             <li><a href="">Ayuda</a></li>
             <li><a href=""></a></li>
           </ul>
       </nav>
    </section>
        
     <section>
        <div class="buscadorHome">
          <form class="buscador" action="buscador">
            <input type="search" placeholder="Autor, Título...">
            <input type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>
     </section>

</header> <!-- ACA cierro EL HEADER - ENCABEZADO -->  

<main>
    <div class="bannerHome">
       <img src="/img/category-books-banner_1920x550_210401.jpeg" alt="banner">
    </div>
    
    <section> <!-- abro primera sección novedades -->
        <h1>Novedades de la Semana</h1>

          <article class="articulosNovedades">
              <img src="/img/Book Review_ The Visionist.jpeg">
              <div class="descripcionArtNov">
                <p>Ray Douglas Bradbury</p>
                <br>
                <p>
                  Lorem ipsum
                </p>
                <br>
                <p>$6.770</p>
                <p>40% OFF</p>
                <br>
               </div>
               <div class="botonesHome">
                  <a href="#" class = "material-icons">add_shopping_cart</a> 
                  <a href="#"class = "material-icons">favorite_border</a> 
                </div>   
           </article>
          
          <article class="articulosNovedades">
              <img src="/img/The Year After You (eBook).jpeg" />
              <div class="descripcionArtNov">
                <p>Ray Douglas Bradbury</p>
                <br>
                <p>
                  Lorem ipsum
                </p>
                <br>
                <p>$6.770</p>
                <p>40% OFF</p>
                <br>
            </div>
            <div class="botonesHome">
              <a href="#" class = "material-icons">add_shopping_cart</a> 
              <a href="#"class = "material-icons">favorite_border</a> 
            </div>   
          </article>

          <article class="articulosNovedades">
            <img src="/img/The Summer of Broken Things (eBook).jpeg" />
            <div class="descripcionArtNov">
              <p>Ray Douglas Bradbury</p>
              <br>
              <p>
               Lorem ipsum
              </p>
              <br>
              <p>$6.770</p>
              <p>40% OFF</p>
              <br>
          </div>
           <div class="botonesHome">
              <a href="#" class = "material-icons">add_shopping_cart</a> 
              <a href="#"class = "material-icons">favorite_border</a> 
           </div>   
        </article>

        <article class="articulosNovedades">
          <img src="/img/thesecretgarden.jpeg"/>
          <div class="descripcionArtNov">
            <p>Ray Douglas Bradbury</p>
            <br>
            <p>
             Lorem ipsum
            </p>
            <br>
            <p>$6.770</p>
            <p>40% OFF</p>
            <br>
          </div>
          <div class="botonesHome">
            <a href="#" class = "material-icons">add_shopping_cart</a> 
            <a href="#"class = "material-icons">favorite_border</a> 
          </div>   
        </article>

       <article class="articulosNovedades">
         <img src="/img/The Official List of Harper’s Fall 2020 YA Book Covers.png" />
         <div class="descripcionArtNov">
           <p>Ray Douglas Bradbury</p>
           <br>
           <p>
            Lorem ipsum
           </p>
           <br>
           <p>$6.770</p>
           <p>40% OFF</p>
           <br>
         </div>
       <div class="botonesHome">
          <a href="#" class = "material-icons">add_shopping_cart</a> 
          <a href="#"class = "material-icons">favorite_border</a> 
       </div>   
      </article>

    <article class="articulosNovedades">
      <img src="/img/The Official List of Harper’s Fall 2020 YA Book Covers.png" />
      <div class="descripcionArtNov">
        <p>Ray Douglas Bradbury</p>
        <br>
        <p>
         Lorem ipsum
        </p>
        <br>
        <p>$6.770</p>
        <p>40% OFF</p>
        <br>
      </div>
      <div class="botonesHome">
        <a href="#" class = "material-icons">add_shopping_cart</a> 
        <a href="#"class = "material-icons">favorite_border</a> 
      </div>   
    </article>

</section> <!-- cierro primera sección novedades -->

</main> <!-- cierro main -->

<footer class="footerDistribucion"> <!-- ACA ABRO FOOTER -->

      <div class="footerIzquierda">

        <h3>B U G G A<span>logo</span></h3>

        <p class="footerLinks">
          <a href="#" class="link-1">Home</a>
          
          <a href="#">FAQ</a>
          
          <a href="#">Preguntas Frecuentes</a>
        </p>

        <p class="footerNombre">Bugga © 2021</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Calle Falsa 123</span> Buenos Aires, Argentina</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+54 000000000</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">info@bugga.com</a></p>
        </div>

      </div>

      <div class="footerDerecha">

        <p class="footerAbout">
          <span>Sobre B U G G A</span>
          Lorem ipsum dolor sit amet, consectateur adispicing elit. 
          Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        </p>

        <div class="footerIconos">

          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>

        </div>

      </div>

    </footer> <!-- CIERRO FOOTER -->

</body> <!-- CIERRO BODY -->
</html>