<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bugga Store</title>
</head>
<body>
    <header>
        <img src="/img/logo.jpg" alt="logo">
        <span>Registro</span>
        <span>Login</span>
        <img src="/img/login.png" alt="login">
        <img src="/img/carrito.png" alt="carrito">
        <nav>
            <ul>
                <li><a href="#">Libros</a></li>
                <li><a href="#">Material</a></li>
                <li><a href="#">Novedades</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Nosotros</a></li>
            </ul>
        </nav>
        <input type="text"> 
        <img src="/img/lupa.png" alt="lupa">

    </header>    

    <section>
        <img src="/img/saga_50.jpg" alt="50">
        <img src="/img/saga_harry.jpg" alt="harry">
        <img src="/img/saga_tolkien.jpg" alt="tolkien">
    </section>

    <section>
        <nav>
            <ul>
                <p>Menú</p>
                <li><a href="#">Esparcimiento</a></li>
                <li><a href="#">Educativos</a></li>
                <li><a href="#">Materiales</a></li>
            </ul>
        </nav>
        <article>
            <p>Libros Random</p>
        </article>
        <article>
            <p>Best Seller</p>
            <img src="/img/buy.png" alt="buy">
            <p>Nuevos Arrivos</p>
        </article>
    </section>

    <footer>
        <p>Pagá con..</p>
        <img src="/img/tarjetas.png" alt="tarjetas">
        <p>Envíos</p>
        <img src="/img/dhl.png" alt="dhl">
        <img src="/img/ups.png" alt="ups">
        <p>Contactanos</p>
        <img src="/img/tel.png" alt="tel">
        <img src="/img/arroba.png" alt="arroba">
        <img src="/img/location.png" alt="loc">
        <p>Redes</p>
        <img src="/img/redes.png" alt="redes">
        <a href="#">webmasters</a>
    </footer>

</body>
</html>