<!DOCTYPE html>
  <html lang="es">

<head> <!-- ACA HABRO EL HEAD - CONFIG. -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <title>Bugga - Home</title>
        
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
       
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons"rel="stylesheet">
</head> <!-- ACA CIERRO EL HEAD - CONFIG. -->

<boby class="bodyDetalle">
    <header class="header-main"> <!-- ACA ABRO EL HEADER - ENCABEZADO -->
        <div class="main-header">
        <div class="main-header-logo-search">
            
            <div class="logoHome"> <!-- abro LOGO -->
                <img src="./img/Titulo_Home.png" />
            </div>
            <div class="imgLogo">
                    <img src="img/corazonx48.png">
            </div> <!-- cierro LOGO -->
                
            <div class="search"> <!-- abro BUSCADOR -->
                <form action="#search">
                    <input type="text" placeholder="Autor, Título..." >
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>  <!-- ciero BUSCADOR -->
    </header>    
       
    <main>
        <section> <!-- abro primera sección -->
            <h1 class="subtituloDetalle"></h1>
               <article class="productosDetalle">
                <img class="imagenDetalle" src="./img/zhQFmEpom2.png" />
                   <div class="infoArt"></div>
                   <div class="descripcionDetalleA">
                    <p class="tituloDetalleA">Titulo</p>
                    <br>
                    <p>
                      Ray Douglas Bradbury</p>
                    <br>
                    <P class="editorial">Editorial</P>
                    <p class="genero">Género</p>
                    <br>
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <br>
                </div>
                </article>

            <article class="productosHome1">
                  <div class="descripcionDetalle">
                    <p class="tituloDetalle">Acerca de éste tomo</p>
                    <br>
                    <p>
                     Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                     Exercitationem voluptates odio at ad dolore dolor eveniet consequatur officiis fugit cumque earum aspernatur, 
                     unde tempora accusamus corporis doloribus autem, illo labore.
                    </p>
                    <br>
                    <span class="material-icons">favorite_border</span>
                    <span class="material-icons">add_shopping_cart</span>
                    <span class="material-icons">loyalty</span>
                </div>
            </article>
        </section> <!-- cierro primera sección novedades -->
    </main>

    <footer> <!-- abro FOOTER -->

        <section class="footerHome">
           <div class="footer-sectionA">
                  <p>Todos los medios de pago</p>
           </div>   
      
           <div class="footer-sectionB">
              <p>consulta las promociones vigentes </p>
          </div>
         
           <div class="footer-sectionC">
            <p></p>
             <span class="material-icons">credit_card</span>
             <span class="material-icons">credit_card</span>
            <span class="material-icons">credit_card</span>
          </div>
      
        </section> 
    </footer> <!-- cierro FOOTER -->
</boby> 

</html>