<!DOCTYPE html>
<html lang="es">

<head> <!-- ACA HABRO EL HEAD - CONFIG. -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <title>Bugga - Home</title>
        
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
       
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">
</head> <!-- ACA CIERRO EL HEAD - CONFIG. -->
  
<body class="bodyHome"> <!-- ACA ABRO EL BODY - CONTENIDO -->
    
   

<!-- productcart -->

<section>
    
    <!-- foto -->
    <article class="productosHome2" >
        <img src="./img/zhQFmEpom2.png" alt="foto de un articulo">
        <div class="infoArt"></div>
      </article>
    <!-- nombre -->
    <h4 class="autor" >nombre producto</h4>
    <!-- corazones-->
    
    <!-- cantidad de items y el total-->
    <div class="section.productosHome2">
    <select>
       <option>1</option>
       <option>2</option>
       <option>3</option>
       <option>4</option>
       <option>5</option>
    </select>
    
    <p id="precio-total">total: 13,00 usd</p>
    </div>
    <article>
    <img src="/public/img/tarjetas.png" alt="tarjetas">
    <!-- logo visa; paypal; mastercard -->
    <!-- consultá las promociones vigentes -->
    <a href="promociones">consultá las promociones vigentes</a>
    <!-- aplicar cupón + icono de cupon -->
    <!-- comprar -->
    <button type="submit">comprar</button>
</article>
    </section>
    <!--aca termina el productcart-->
    <footer>
       <div class="terminos">
           <!-- <i class="fas fa-check-square"></i> -->
           <input type="checkbox" checked>
           <p>Estoy de acuerdo con los Términos y Condiciones</p>
       </div> 
       
       <button><a href="userProfile">Registrar</a></button>
       
       <p>¿Ya tenes una cuenta? 
           <a href="#login">Ingresá</a>
       </p>


</main> <!-- ACA CIERRO EL MAIN - CONTENIDO CENTRAL -->

<footer> <!-- ACA ABRO EL FOOTER - PIE DE PÁGINA -->
    <section class="footerHome">
      
      <div>
         
            <div class="footer-sectionA">
            <p>Todos los medios de pago</p>
     </div>   

    <div class="footer-sectionB">
        <p>consulta las promociones vigentes </p>
    </div>
   
    <div class="footer-sectionC">
      <p></p>
       <span class="material-icons">credit_card</span>
        <span class="material-icons">credit_card</span>
        <span class="material-icons">credit_card</span>
    </div>

  </section>  


  
</footer> <!-- ACA CIERRO EL FOOTER - PIE DE PÁGINA -->

</body> <!-- ACA CIERRO EL BODY - CONTENIDO -->

</html>
